* {
    margin: 0;
}

html, body {
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

nav a {
    color: #333;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
}

nav {
    padding: 30px;
    text-align: right;
}

nav a:hover {
    background-color: rgba(63, 197, 131, 0.76);
    color: #fff;
}

.head {
    display: block;
    background-image: url("img/fon.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 751px;
}

.info {
    background-image: url("img/Rec.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 50px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.dog-price {

}

.dog-name {

}

.img {
    display: inline-block;
}
.dog-image{
    width: 300px;
}
.catalog {
    display: inline-block;
    width: 70%;
    text-align: right;
}

.catalog p {
    text-align: right;
}

footer {
    color: #333;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
